<!DOCTYPE html>
<html lang="en">
<head>
  <title>Booking UM</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Bootstrap-->
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <script src="/vendor/jquery/jquery.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="/css/users/closing.css">

  <!-- Custom Font -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">

</head>
<body>

<!-- Start Navigation -->  
<nav id="mainNav" class="navbar-default navbar-custom navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand page-scroll" href="#top">
          <img src="/img/Gundar.png" class="img-responsive" alt="gundar">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right active">
        <li><a href="/" target="_home">Home</a></li>
        <li><a href="/users/form">Daftar</a></li>
        <li><a href="/" target="_contact">Contact</a></li>
        <li><a href="/" target="#faq">FAQ</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navigation -->
  
<!-- Start Header -->
<header>
  <div class="container">
    <div class="form-grup">
      <label class="col-sm-3"></label>
        <div class="col-sm-6 center">
          <center>
            <div class="gambar">
              <img src="/img/right.png" class="img-responsive" alt="ico">
            </div>
            <div class="tulisan">
              <p class="intro-body">
                Data anda sudah terverifikasi. Silahkan Cek email anda untuk melihat detail dan persyaratan pelaksanaan ujian anda.
              </p> 
            </div>              
          </center>
        </div>
      <label class="col-sm-3"></label>
    </div>            
  </div>
  <div class="icon">
      <img src="/img/Com01.png" class="img-responsive" alt="icon">
  </div> 
</header>
<!-- End Header -->


</body>
</html>
