<!DOCTYPE html>
<html lang="en">
<head>
  <title>Booking UM</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Bootstrap-->
  <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  

  <!-- CSS -->
  <link rel="stylesheet" href="css/landing.css">

  <!-- Custom Font -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">

</head>
<body>  

<!-- Start Navigation-->
<nav id="mainNav" class="navbar-default navbar-custom navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collased" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
        <a class="navbar-brand page-scroll" href="#top">
            <img src="img/Gundar.png" class="img-responsive" alt="gundar">
        </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right active">
        <li><a class="active" href="#top">Home</a></li>
        <li><a class="active" href="/users/form">Daftar</a></li>
        <li><a class="active" href="#contact">Contact</a></li>
        <li><a class="active" href="#faq">FAQ</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navigation-->
  
    <!-- Start Header -->
    <section id="home">
        <div class="container">
            <form class="form-inline">
                <div class="col-sm-9 form-group left">
                    <h4 class="intro-head">Daftar UM<br>Online</h4>
                    <p class="intro-body">
                        Daftar UM Online adalah fasilitas website yang digunakan <br>untuk Mahasiswa Universitas Gunadarma dalam proses <br>pendaftaran diri untuk mengikuti Ujian Mandiri.
                    </p>
                    <p class="intro-close">
                        *Pendaftaran hanya dapat dilakukan H-1 sebelum Ujian Dilaksanakan.
                    </p>
                </div>
                <div class="col-sm-2 form-group right">
                    <p class="intro-head">
                        Sisa Kuota <br>Pendaftran<br><span> 15/10/2017 </span>
                    </p>
                    <p class="intro-body"> 276 </p>
                </div>    
            </form>
            <label class="col-sm-4"></label>
            <div class="col-sm-4">
              <center>
                <a href="/users/form" class="btn btn-xl"> DAFTAR </a>
              </center>
            </div>
            <label class="col-sm-4"></label>
        </div>
    </section>
    <!-- End Header -->

        <!-- Start FAQ -->
        <section id="faq">
            <div class="container">
              <div class="form-group">
                <h2> F.A.Q </h2>
                  <hr class="lines wow zoomIn" data-wow-delay="0.3s">
      
                  <div class="panel-group" id="accordion">
                    <div class="panel panel-warning">
                      <div class="panel-heading">
                        <h3 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Apa itu UM ?</a>
                        </h3>
                      </div>
                      <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                          UM atau Ujian Mandiri adalah Sistem perbaikan nilai yang dapat dilakukan oleh para mahasiswa Universitas Gunadarma.<br><br>
                          Mahasiswa yang mengikuti Ujian Mandiri ini nantinya akan mengerjakan soal-soal sesuai dengan Mata Kuliah yang ingin diperbaiki dan soal-soal ini telah disediakan oleh Universitas Gunadarma. 
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-warning">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Apa itu Daftar UM Online ?</a>
                        </h4>
                      </div>
                      <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                          Daftar UM Online adalah salah satu fasilitas yang digunakan mahasiswa Universitas Gunadarma dalam proses pendaftaran diri untuk mengikuti Ujian Mandiri (UM) dengan registrasi Online pada Aplikasi Website. <br><br>
                          Jadi, para calon peserta UM tidak harus mendaftar secara langsung ke bagian loket
                          pendaftaran pelaksanaan Ujian Mandiri di kampus Depok, melainkan dapat mendaftar melalui website ini. Namun sebelum mendaftar, calon peserta harus membeli voucher Ujian Mandiri terlebih dahulu pada loket pembelian voucher. <br><br> 
                          Jadi, sistem ini adalah sistem booking Ujian Mandiri.
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-warning">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Bagaimana Mekanisme Pendaftaarannya ?</a>
                        </h4>
                      </div>
                      <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                        Mekanisme dari pendaftaran UM secara Online, antara lain: <br>
                        <ol>
                          <li> Sebelum melakukan pendaftaran, pastikan telah <b>memiliki</b> voucher Ujian Mandiri agar dapat mengisi kode voucher pada field form pendaftaran</li>
                          <li> Buka website dari pendaftaran UM Online </li>
                          <li> Klik Daftar untuk mendaftar UM </li>
                          <li> Isi semua field pada form pendaftaran, lalu klik Submit apabila semua telah terisi</li>
                          <li> Cek kembali semua field pada form verifikasi apakah data sudah benar
                             jika sudah dapat klik Verifikasi, namun jika terdapat kesalahan klik Kembali untuk mengedit data</li>
                          <li> Apabila data telah terverifikasi, peserta akan mendapatkan email yang berisi informasi mengenai detail dan persyaratan dalam pelaksanaan Ujian Mandiri</li>  
                        </ol>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-warning">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Berapa lama kode voucher berlaku ? </a>
                        </h4>
                      </div>
                      <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                          Untuk kode voucher Ujian Mandiri berlaku selama <b>satu periode</b> untuk Ujian Mandiri Utama, dan <b> satu bulan</b> untuk Ujian Mandiri Lokal dari pembelian voucher Ujian Mandiri.<br><br>
                          Jadi, dalam melakukan pendaftaran diri Ujian Mandiri secara Online dapat dilakukan kapan saja sebelum kode voucher berakhir. Namun, dalam mendaftarkan diri waktu minimal pendaftaran yaitu <b>H-1</b> sebelum calon peserta memutuskan untuk melakukan Ujian Mandiri supaya tanggal pelaksanaan Ujian Mandiri dapat di infokan tanpa harus melakukan sistem antri yang sering dikenal dengan "Sistem Colok". 
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-warning">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Bagaimana Mekanisme Pembayaran Daftar UM Online ?</a>
                        </h4>
                      </div>
                      <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body">
                            Untuk mekanisme pembayaran hanya dapat dilakukan pada Loket Pembelian voucher Ujian Mandiri.
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-warning">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Apakah UM Dapat dibatalkan ? </a>
                        </h4>
                      </div>
                      <div id="collapse6" class="panel-collapse collapse">
                        <div class="panel-body">
                            Ujian Mandiri tidak dapat dibatalkan oleh peserta. Namun Ujian Mandiri dapat batal dengan sendirinya apabila peserta tidak hadir dalam pelakasanaan Ujian Mandiri dan voucher peserta pelaksanaan Ujian Mandiri telah melewati batas waktu berlakunya.
                        </div>
                      </div>
                    </div>
                  </div> 
                </div>
              </div>
      </section>
      <!-- End FAQ --> 

    <!-- Start Contact -->
    <section id="contact">
        <div class="container">
          <div class="row">
            <h2> CONTACT </h2>
            <hr class="lines wow zoomIn" data-wow-delay="0.3s">
                <img src="img/Com02.png" class="img-responsive icon" alt="icon">  
                <div class="col-md-4 wow fadeInRight" data-wow-offset="70" data-wow-delay="1.6s">
                  <div class="left">
                    <div class="robot">
                      <center>
                        <img src="img/hi.png" class="img-responsive" alt="hai">
                      </center>
                    </div>

                    <div class="alamat">
                      <div class="logo">
                        <div class="form-inline">
                          <div class="form-group">
                            <p><span class="glyphicon glyphicon-map-marker btn-lg"></span> 
                              Kampus D, Universitas Gunadarma JL. Margonda Raya No. 100, Pd. Cina. Kota Depok, Jawa Barat 16424 
                            </p>
                          </div>
                        </div>
                              
                        <p><span class="glyphicon glyphicon-earphone btn-lg"></span>
                            (021) 78881112
                        </p>

                        <p><span class="glyphicon glyphicon-envelope btn-lg"></span> 
                            ujianmandiriug@gmail.com
                        </p>
                      </div>
                    </div>

                  </div>
                </div>
               
                  <div class="col-md-8 wow fadeInRight" data-wow-offset="70" data-wow-delay="1.6s">
                    <div class="media">
                      <div class="media-heading-right">
                        <div class="media-object pull-left">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.1562958952522!2d106.8641682!3d-6.3738141!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69ec7dc2a5ee33%3A0xca9374fbb65386e0!2sKAMPUS+F4+UNIVERSITAS+GUNADARMA!5e0!3m2!1sen!2sid!4v1502855555541" width="750" height="380" frameborder="0" allowfullscreen></iframe>
                        </div>
                      </div>
                    </div>
                  </div>       
          </div>
        </div>
        <div class="footer">
          <img src="/img/Com01.png" class="img-responsive" alt="icon">
      </div>
    </section>
    <!-- End Contact -->



</body>
</html>
